Flask==2.3.2
gunicorn==21.2.0
google-cloud-storage==2.10.0
google-cloud-tasks==2.14.2
openai==0.27.8
Pillow==11.0.0
pillow-heif==0.20.0
google-auth==2.22.0
google-api-python-client==2.97.0
requests==2.31.0
img2pdf==0.4.4
reportlab==4.0.4
